:root {
    --black: #171717;
    --grey: #626262;
    --white: white;
    --red: rgb(235, 62, 62);
    --white-bg: #fbdffd;
    --grey-light: rgb(187, 187, 187);
}

body {
    margin: 0;
    font-family: "Poppins";
    background-color: var(--white-bg);
    height: 100vh;
}