/* Breadcrumbs are a navigational 
aid that allows users to keep 
track of their current location 
on a website or interface. A
breadcrumb trail displays the
page a user is currently on 
and its relation to the pages 
they visited before it, or the 
hierarchy of higher level parent 
pages above the current page 
eg: Home/women/jeans/momjeans
*/

.breadcrump{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--grey);
    font-size: 16px;
    font-weight: 600;
    margin: 30px 130px;
    text-transform: capitalize;
}
@media(max-width:1280px){
    .breadcrump{
       margin: 30px 50px;
       font-size: 14px; 
    }
}
@media(max-width:1024px){
    .breadcrump{
       margin: 30px 30px;
       font-size: 13px; 
    }
}
@media(max-width:800px){
    .breadcrump{
       margin: 30px 10px;
       font-size: 11px; 
    }
}
@media(max-width:500px){
    .breadcrump{

       font-size: 9px; 
    }
}


