.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
    /* border: 1px solid salmon; */
}

.shopcategory-indexsort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    margin: auto;
    /* border: 1px red solid; */
    margin-bottom: 10px;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexsort p span{
    font-weight: 600;
}
.shopcategory-products{
    /* border: 1px solid saddlebrown; */
    margin: auto;
    width: 82%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap: 30px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 200px;
    height: 49px;
    border-radius: 100px;
    background-color: var(--grey);
    color: var(--white);  
}

@media(max-width:1280px){
    .shopcategory-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexsort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexsort p{
        font-size: 12px;
    }
}