.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    box-shadow: 0 1px 3px -2px var(--black);
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 150px;
}

.nav-logo p {
    color: var(--brandlogocolor);
    font-size: 38px;
    font-weight: 600;
    font-family: "Style Script", cursive;
    font-style: italic;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: var(--grey) !important;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li:hover {
    color: var(--black);
    font-weight: 600;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--grey) !important;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--red);
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 127px;
    height: 48px;
    outline: none;
    border: 1px solid var(--grey);
    border-radius: 75px;
    color: var(--grey);
    font-size: 18px;
    font-weight: 500;
    background: var(--white);
    cursor: pointer;
}

.nav-login-cart button:active {
    background-color: var(--grey);
    color: var(--black);
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    background-color: var(--red);
    color: var(--white);
}

.nav-dropdown {
    display: none;
    border-radius: 10px;
    /* border: 1px solid var(--grey); */
    margin-bottom: 5px;
    
    /* padding: 5px; */
    /* width: 25px;
    height: 25px; */
    /* background: var(--white-bg); */
}

@media(max-width:1280px) {
    .navbar {
        padding: 12px 50px;
    }

    .nav-logo img {
        width: 60px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 16px;
    }

    .nav-login-cart {
        gap: 25px;
    }

    .nav-login-cart button {
        width: 100px;
        height: 35px;
        font-size: 16px;
    }

    .nav-cart-count {
        margin-left: -40px;
        font-size: 12px;
    }
}

@media(max-width:1024px) {
    .navbar {
        padding: 12px 30px;
    }

    .nav-logo img {
        width: 50px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-menu {
        gap: 20px;
        font-size: 14px;
    }

    .nav-login-cart {
        gap: 25px;
    }

    .nav-login-cart button {
        width: 60px;
        height: 25px;
        font-size: 14px;
    }

    .nav-cart-count {
        width: 18px;
        height: 18px;
        margin-left: -40px;
        font-size: 12px;
    }

    .nav-login-car img {
        width: 30px;
    }
}

@media(max-width:800px) {
    .navbar {
        padding: 10px 0px;
    }

    .nav-dropdown {
        display: block;
        width: 30px;
        /* rotate: 90deg; */
        transition: 0.5s;
    }

    .nav-menu {
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: var(--white);
        justify-content: center;
        top: 50px;
    }

    .nav-menu-visible {
        display: flex;
    }
    .nav-dropdown.open {
        transform: rotate(90deg);
    }
    .nav-login-cart img{
        width: 25px;
    }
}
@media(max-width:500px){
    .navbar{
      width: 8px 0;
      gap: 0;  
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .nav-menu{
        height: 70px;
        top: 50px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
}