.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    gap: 30px;
}

.newsletter h1{
    color: var(--grey);
    font-size: 40px;
    font-weight: 500px;
}

.newsletter p{
    color: var(--grey);
    font-size: 20px;
}

.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    width: 630px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid rgb(236, 205, 205);
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: var(--grey);
    font-family: Poppins;
    font-size: 16px;
}

.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: var(--white);
}

@media(max-width:1280px){
   .newsletter{
    padding: 0px 80px;
    margin-bottom: 120px;
    gap: 20px;
   }
}